
.movies > main {
    position: relative;    
    width: calc(100% - 30px);
    margin: 64px auto 0 auto;
    padding: 15px;

}

.movies > main > section {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.movies > main > section > h1 {
    width: 100%;
    text-align: center;
    color: #fff;
}